[submodule "staking-contracts/lib/forge-std"]
	path = staking-contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "staking-contracts/lib/LayerZero-v2"]
	path = staking-contracts/lib/LayerZero-v2
	url = https://github.com/LayerZero-Labs/LayerZero-v2
