[submodule "staking-contracts/lib/forge-std"]
	path = staking-contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "staking-contracts/lib/LayerZero-v2"]
	path = staking-contracts/lib/LayerZero-v2
	url = https://github.com/LayerZero-Labs/LayerZero-v2
[submodule "staking-contracts/lib/openzeppelin-contracts"]
	path = staking-contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "staking-contracts/lib/swap-router-contracts"]
	path = staking-contracts/lib/swap-router-contracts
	url = https://github.com/Uniswap/swap-router-contracts
[submodule "staking-contracts/lib/v2-core"]
	path = staking-contracts/lib/v2-core
	url = https://github.com/Uniswap/v2-core
[submodule "staking-contracts/lib/modulekit"]
	path = staking-contracts/lib/modulekit
	url = https://github.com/rhinestonewtf/modulekit
[submodule "staking-contracts/lib/devtools"]
	path = staking-contracts/lib/devtools
	url = https://github.com/LayerZero-Labs/devtools
